---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
import LcdClock from '../components/Utils/LcdClock.astro';
import CategorySection from '../components/CategorySection.astro';
import { SITE_DESCRIPTION, SITE_FAVICON, SITE_TITLE } from '../settings';
import { CATEGORY_CONFIG } from '../data/category';

const modules = import.meta.glob('../data/sites/*.js', { eager: true });
const all = (modules['../data/sites/all.js'] as any)?.default || [];
let sitesBySubcategory = {} as Record<string, any[]>;
if (Array.isArray(all) && all.length) {
  for (const s of all) {
    const key = String((s as any).subId || '')
    if (!key) continue;
    (sitesBySubcategory[key] ||= []).push(s);
  }
} else {
  sitesBySubcategory = Object.fromEntries(
    Object.entries(modules).map(([path, mod]) => {
      const name = path.split('/').pop()?.replace('.js','') || '';
      const list = (mod as any).default || [];
      return [name, list];
    })
  );
}

const categoryData = Object.values(CATEGORY_CONFIG).flatMap((categoryInfo) => {
  const subs = categoryInfo.subItems || [];
  return subs.map((sub) => ({
    ...sub,
    sites: sitesBySubcategory[sub.id] || [],
  }));
});
---

<Layout 
  SITE_TITLE={SITE_TITLE}
  SITE_DESCRIPTION={SITE_DESCRIPTION}
  SITE_FAVICON={SITE_FAVICON}
>
  <div slot="searchbar">
    <!-- <LcdClock /> -->
    <Search />
  </div>
  {categoryData.map((data) => (
    <CategorySection 
      category={data.id}
      subCategoryName={data.name}
      subCategoryIcon={data.icon}
      sites={data.sites}
    />
  ))}
 
</Layout>
